/* =========================
   Base Styles
========================= */

.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

/* =========================
   Global reusable Styles
========================= */

.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  outline: none;
}

.task__input:focus {
  color: #333;
}

/* Buttons */
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  color: #3a3a3a;
}

/* Remove icon */
.btn__ico {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn__ico:hover {
  transform: rotateZ(0);
}

/* =========================
   Header (info block)
========================= */

.info {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.info__img {
  width: 100%;
}

.info__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .info {
    text-align: center;
  }
}

/* =========================
   Main section
========================= */

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

/* =========================
   Add task
========================= */

.add-task {
  margin: 1em 0;
}

.add-task__wrapper {
  display: flex;
}

.add-task__label {
  display: block;
  margin: 0 0 20px;
  padding: 30px 0 10px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}

.task__input--add {
  width: 318px;
}

/* =========================
   Task list
========================= */

.task-list__heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
  list-style: none;
}

.task-list__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.task-list__item > * {
  vertical-align: middle;
}

/* =========================
   Task
========================= */

.task__checkbox {
  margin: 0 10px;
  outline: none;
}

.task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-list__item > .task__input {
  width: 226px;
  display: none ;
}

/* =========================
   Edit task
========================= */

.task-list__item--edit-mode .task__input {
  display: inline-block;
  width: 224px;
}

.task-list__item--edit-mode .task__label {
  display: none;
}

/* =========================
   Completed tasks
========================= */

.task-list--completed .task__label {
  text-decoration: line-through;
  color: #888;
}